.footline {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: white;
    width: 80%;
    overflow: hidden;
    font-size: 15px;
    margin-bottom: 20px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    float: right;
    align-items: center;
    padding: 12px;
}

@media (max-width: 767px) {
    .footline {
        font-size: 8px;
    }
}