header {
  position: absolute;
  z-index: 0;
  height: 150px;
  width: 100%;
}

.headline {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: start;
}

#title-line {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.logo-img {
  height: 100px;
}

#title {
  font-size: 30px;
  font-family: serif;
  color: slateblue;
  margin-top: 0px;
}

#title-top {
  font-size: 20px;
  font-family: serif;
  color: slateblue;
  margin-bottom: 0px;
}

.header-list li a {
  display: inline-flex;
  text-decoration: none;
  font-size: 20px;
  color: black;
}