body {
  margin: 0px;
}

.main {
  font-family: "Noto Serif JP", serif;
  background-color: whitesmoke;
}

#outline {
  background-color: skyblue;
  background-blend-mode: darken;
  background-image: url(../images/sea.PNG);
}


#aboutus {
  /* background-image: url(../images/therapy.jpg); */
  font-family: "Noto Serif JP", serif;
  height: 400px;
}

#aboutus h4 {
  border-bottom: 1px black solid;
  font-size: 20px;
  font-weight: 400;
}

#aboutus ul {
  list-style: none;
}

#aboutus ul li {
  padding-left: 20px;
  line-height: 1.6em;
  background: url(../images/moxibustion_icon.png) left 4px top 3px no-repeat;
  background-size: 10px auto;
}

#therapy {
  display: flex;
  flex-direction: column;
  align-items: start;
}

#therapy h4 {
  background: url(../images/sitting_patient_icon.png) left 5px top 0px no-repeat;
  background-size: 23px auto;
  padding-left: 40px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0px;
}


.description {
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  width: 40%;
  text-align: center;
  align-items: center;
  border: solid 1px black;
}

.description-title {
  border-bottom: solid 2px black;
  font-size: 25px;
  padding: 10px;
}

.description-content {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
}

.description a {
  position: relative;
  background-color: white;
  /*border: outset 4px #3689b2;*/
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  color: blue;
  padding: 4px 0;
  vertical-align: middle;
  width: 50%;
  height: 3%;
  margin: 10px 0;
}

.description a:hover {
  color: orange;
}

.right-desc {
  margin-left: -8%;
}

.left-desc {
  margin-right: -8%;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}

.section img {
  padding: 0px;
  width: 30%;
  z-index: 1;
}

.notes {
  padding: 10px;
  display: flex;
  justify-content: start;
  text-align: start;
  font-size: 13px;
}

#feemenu {
  /* background-image: url(../images/feemenu.jpg); */
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

#feemenu-content {
  /* background-image: url(../images/feemenu.jpg); */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: start;
}

#feemenu h4 {
  background: url(../images/mox_patient_icon.png) left 5px top 5px no-repeat;
  background-size: 25px auto;
  padding-left: 40px;
  font-size: 20px;
  font-weight: 400;
}

#feemenu table {
  /* background-image: url(../images/feemenu.jpg); */
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#therapist h4 {
  background: url(../images/sleeping_patient_icon.png) left 10px top 7px no-repeat;
  background-size: 25px auto;
  padding-left: 40px;
  font-size: 20px;
  font-weight: 400;
}

#therapist img {
  width: 200px;
}

#therapist-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-content {
  background-image: url(../images/contact.jpg);
}

#contact h4 {
  background: url(../images/call_icon.png) left 10px top 7px no-repeat;
  background-size: 25px auto;
  padding-left: 40px;
  font-size: 20px;
  font-weight: 400;
}

.contact-message {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  width: 100%;
  font-size: 20px;
  flex-direction: column;
  color: green;
  justify-content: center;
  text-align: center;
}

.top-contents {
  display: flex;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  /* overflow: hidden; */
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.center-message {
  display: flex;
  font-size: 20px;
  flex-direction: column;
  color: white;
  justify-content: center;
  text-align: center;
  animation: fadeIn 2s ease-in-out 0.3s 1 both;
}

.center-message h2 {
  font-size: 40px;
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
}

.center-message h3 {
  font-family: serif;
  font-size: 23px;
}

.center-message p {
  line-height: 0.5em;
}

.center-message a {
  line-height: 0.5em;
  color: inherit;
  text-decoration: underline;
}

.center-menu {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  flex-direction: column;
}

.center-message p {
  line-height: 2em;
}

.line-it-button {
  width: 100%;
}

.emph-message {
  font-size: 18px;
  padding: 10px;
  font-family: "Yuji Syuku", serif;
}

/* load percentage from 0% to 100% */
@keyframes fadeIn {

  0% {
    opacity: 0;
    color: white;
    /**/
  }

  100% {
    opacity: 1;
    color: white;
  }
}

/* for smartphone */
@media (max-width: 767px) {
  .center-message {
    font-size: 12px;
  }

  .center-message h2 {
    font-size: 30px;
  }

  .section img {
    width: 60%;
  }

  .right-desc {
    margin-left: -20%;
  }

  .left-desc {
    margin-right: -20%;
  }

  /* not display until touch open-btn */
  .pc-menu {
    display: none;
  }

  .open-menu-btn {
    display: initial;
  }
}



body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 650px;
  table-layout: fixed;
}

table tr {
  background-color: #fff;
  border: 1px solid #bbb;
  padding: .35em;
}

table th,
table td {
  padding: 1em 10px 1em 1em;
  border-right: 1px solid #bbb;
}

table th {
  font-size: .85em;
}

table thead tr {
  background-color: #eee;
}

.txt {
  text-align: left;
  font-size: .85em;
}

.price {
  text-align: right;
}

table {
  border: 0;
  width: 100%
}

table th {
  background-color: #eee;
  display: block;
  border-right: none;
}

table thead {
  border: none;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

table tr {
  display: block;
  margin-bottom: .625em;
}

table td {
  border-bottom: 1px solid #bbb;
  display: block;
  font-size: .8em;
  text-align: right;
  position: relative;
  padding: .625em .625em .625em 4em;
  border-right: none;
}

table td::before {
  content: attr(data-label);
  font-weight: bold;
  position: absolute;
  left: 10px;
}

table td:last-child {
  border-bottom: 0;
}