table {
    border-collapse: collapse;
}


tr{ 
    border-color: black;
    border-style: dashed;
    border-width: 1px 0;
}

.feelist{
    background-color: wheat;
    width: 70%;
}

form{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

h3{
    border-bottom: 2px black solid;
}


.description{
    position: relative;
    height: 500px;
    width: 500px;
}


.desc-footer{
    position: absolute;
    bottom: 5px;
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.feelist{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: white;
    width: 95%;
    overflow: hidden;
    text-align: left;
}


.feelist th{ 
    border-bottom: 1px solid black;
}

.feelist td{ 
    height: 66px;
    border-bottom: 1px solid black;
}

.main img{
    padding: 2%;
    width: 80%;
}

.inactive-desc {
    display: none;
}
.active-desc {
    display: flex;
    flex-direction: column;
}

.next-btn{
    border-bottom: 1px solid black;
    cursor: pointer;
}

.prev-btn{
    border-bottom: 1px solid black;
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
}

.images{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.top-img{
    width: 80%;
    overflow: hidden;
    text-align: center;
} 
.bottom-img{
    width: 90%;
    display: flex;
    text-align: center;
    overflow: hidden;
}
.bottom-img img{
    width: 30%;
}

.description{
    position: relative;
    height: 300px;
    width: 500px;
}


@media (max-width: 1000px) { 
    .description{
        width: 90%;
    }
    .desc-footer{
        width: 90%;
    }

}
